<!DOCTYPE html>
<html ng-app="brand-marinade">
  <head>
    <title>Brand Marinade Product Uploader</title>

    <script src="/bower_components/angular/angular.js"></script> 

    <script src="/bower_components/angular-animate/angular-animate.js"></script>

      <!-- Angular Material CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
      <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
      <!-- Angular Material Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/app/public/stylesheets/style.css">
    <!-- local scripts-->
    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/controllers/ColorsController.js"></script>
    <script type="text/javascript" src="/app/controllers/TypeController.js"></script>
    <script type="text/javascript" src="/app/controllers/SizeController.js"></script>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        
        <!-- <div class="navbar navbar-light bg-black"> -->
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand-marinade</a>
          </div>
          <ul class="nav navbar-nav">
            <li ng-click="scrollTo('projects-gallery')">
              <a id="nav-projects"> Upload Product </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <h1>Welcome to Brand Marinade</h1>
    <p> Upload a product </p>

    <div ng-show="true" id="brand-name-form"> 
      <h3> Enter Brand Name </h3>
      <form ng-submit="mc.skuGenerator()">
        <div class="form-group">
         <input type="text" ng-model="mc.newProduct.brand" placeholder="brand">
        </div>
      </form>

    </div>

  <div ng-controller="TypeController as tc ">
    <div class="md-padding demo checkboxdemoSelectAll">
      <h3> Select Product Type </h3>
      <div layout="row" layout-wrap="">
        <div flex="100" layout="column">
          <div>
            <fieldset class="demo-fieldset">
              <div layout="row" layout-wrap="" flex="">
              <div flex-xs="" flex="50">
                <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                  <span ng-if="isChecked()">Un-</span>Select All Types
                </md-checkbox>
              </div>
                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
                  <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                   {{ item }}
                  </md-checkbox>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="ColorsController as cc" class="md-padding demo checkboxdemoSelectAll">
     <h3> Select Colors </h3>
    <div layout="row" layout-wrap="">
      <div flex="100" layout="column">
        <div>
          <fieldset class="demo-fieldset">
            <div layout="row" layout-wrap="" flex="">
            <div flex-xs="" flex="50">
              <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                <span ng-if="isChecked()">Un-</span>Select All Colors
              </md-checkbox>
            </div>
              <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
                <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                 {{ item }}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="SizeController as cc" class="md-padding demo checkboxdemoSelectAll">
     <h3> Select Colors </h3>
    <div layout="row" layout-wrap="">
      <div flex="100" layout="column">
        <div>
          <fieldset class="demo-fieldset">
            <div layout="row" layout-wrap="" flex="">
            <div flex-xs="" flex="50">
              <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                <span ng-if="isChecked()">Un-</span>Select All Colors
              </md-checkbox>
            </div>
              <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
                <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                 {{ item }}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>




  </body>

</html>
