<!DOCTYPE html>
<html ng-app="brand-marinade">
  <head>
    <title>Brand Marinade Product Uploader</title>

    <script src="/bower_components/angular/angular.js"></script> 

    <script src="/bower_components/angular-animate/angular-animate.js"></script>

    <!-- Angular Material CDN -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script> -->
    <!--     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script> -->

    <!-- ngMaterial LOCAL -->
     <script src="/bower_components/angular-material/angular-material.js"></script>

    <script src="/bower_components/angular-aria/angular-aria.js"></script>

    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">

      <!--Javascripts -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap.css">
    <!-- angular file saver -->
    <script type="text/javascript" src="/bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
    <!-- toaster -->
    <link href="/bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet" />
    <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="/app/public/stylesheets/style.css">
    <!-- local scripts-->
    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/controllers/ProductsController.js"></script>
    <script type="text/javascript" src="/app/services/productService.js"></script>
      <script type="text/javascript" src="/app/directives/productDirective.js"></script>
    <!-- products controllers -->
    <script type="text/javascript" src="/app/controllers/CrewneckController.js"></script>
    <script type="text/javascript" src="/app/controllers/HoodieController.js"></script>
    <script type="text/javascript" src="/app/controllers/KidtController.js"></script>
    <script type="text/javascript" src="/app/controllers/MenstController.js"></script>
    <script type="text/javascript" src="/app/controllers/MensvController.js"></script>
    <script type="text/javascript" src="/app/controllers/MugController.js"></script>
    <script type="text/javascript" src="/app/controllers/OnesieController.js"></script>
    <script type="text/javascript" src="/app/controllers/PosterController.js"></script>
    <script type="text/javascript" src="/app/controllers/TanktopController.js"></script>
    <script type="text/javascript" src="/app/controllers/TotebagController.js"></script>
    <script type="text/javascript" src="/app/controllers/WomenstController.js"></script>
    <script type="text/javascript" src="/app/controllers/WomensvController.js"></script>
    <script type="text/javascript" src="/app/controllers/UploadController.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        
        <!-- <div class="navbar navbar-light bg-black"> -->
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand-marinade</a>
          </div>
          <ul class="nav navbar-nav">
            <li ng-click="scrollTo('projects-gallery')">
              <a id="nav-projects"> Upload Product </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <h1 id="title" ><img src="/app/public/images/brandmarinade-logo-400px.png"> </h1>
    <div id="sub-title" class="col-lg-6 col-centered">  
      <!-- <h1>Welcome to Brand Marinade</h1> -->
      <h4> Product CSV Generator </h4>
    </div>

    <div class="col-lg-4 col-centered" ng-controller="ProductsController as pc" id="brand-name-form"> 
      <form ng-show="hideForms" ng-submit="addDesignName()">
        <div class="block">
          <label> Enter Design Name </label>
          <input required type="text" ng-model="designNames.title" placeholder="Tucker's Beautiful Face">
        </div>
        <div class="block">
          <label> Enter Design Handle </label>
          <input required type="text" ng-model="designNames.handle" placeholder="tucker-prettyBoy">
        </div>
        <div class="block">
          <label> Choose Brand </label>
          <input required type="text" ng-model="designNames.marketplace" placeholder="Tucker Tees">
        </div>
        <div class="block">
          <label> Add Tags </label>
          <input type="text" ng-model="designNames.tags" placeholder="goldenBoy,bernie,EFUKT">
        </div>
        <div id="publish">
          <!-- <p> Publish? </p> -->
          <md-switch id="publish-switch" class="blue" ng-model="designNames.Published">
            <label> <b> Publish </b> | {{designNames.Published}} </label>
          </md-switch>
        </div>
        <div>
          <input type="submit" value="submit" class="btn btn-success">&nbsp;
        </div>
      </form>

      <div id="design-names" ng-hide="hideForms">

        <h5> Title: {{designNames.title}} </h5>
        <h5> Handle: {{designNames.handle}} </h5>
        <h5> Brand: {{designNames.marketplace}} </h5>
        <h5> Tags: {{designNames.tags}} </h5>
        <h5> Publish: {{designNames.Published}} </h5>
        
      </div>

      <!-- <button ng-click="testApi()"> Test API </button> -->

      <hr>

      <div ng-show="submitted">
        <product-directive ng-controller="HoodieController"> </product-directive>
        <product-directive ng-controller="CrewneckController"> </product-directive>
        <product-directive ng-controller="MenstController"> </product-directive>
        <!-- <product-directive ng-controller="MensvController"> </product-directive> -->
        <product-directive ng-controller="WomensvController"> </product-directive>
        <product-directive ng-controller="TanktopController"> </product-directive>
        <product-directive ng-controller="OnesieController"> </product-directive>
        <product-directive ng-controller="KidtController"> </product-directive>
        <product-directive ng-controller="TotebagController"> </product-directive>
        <product-directive ng-controller="PosterController"> </product-directive>
        <product-directive ng-controller="MugController"> </product-directive>

        <hr>

        <div class="wrapper">
          <button type="button" class="btn btn-success" ng-click="generateCsvName(designNames.handle)"> Download CSV </button>
        </div>

        <hr>
        
        <div class="col-lg-6 col-centered" ng-controller="UploadController">
          <button class="btn btn-success" ng-click="getAllProducts()">GET ALL PRODUCTS </button>

          <button class="btn btn-success" ng-click="uploadProduct()">UPLOAD PRODUCT </button>
        </div>

        <hr>

      </div>

    </div>


  </body>

</html>
